body{
    background-color:cyan;
}
h1 {
    flex: 2;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}
.background_image {
    background-image: url(table_mountain.png);
    
}
.talent {
    width: 200px;
    height: 200px;
    flex: 0;
    padding: 1em;
    text-align: center;

}

.city {
    display: flex;
}

.WMG {
    display: inline-flex;
}

.Eco {
    display: inline-flex;
}

.GOG {
    display: inline-flex;
}


.Walter {
    display: inline-flex;
}

.Hill {
    display: inline-flex;
}

.Mandela {
    display: inline-flex;
}

@media(min-width:960px) {
    .introduction {
        display: flex;
    }

    .Historic_places {
        display: flex;
    }
    .subjects {
        display: flex;
    }

    .city {
        display: flex;
    }
}